.am-related-products-container h2 {
    text-align: center;
    text-transform: uppercase;
}

.card-information {
    text-align: center;
}

.card__content {
    text-align: center;
    text-decoration: none;
}

.card__content a:hover {
    text-decoration: none;
}

.am-card-media {
    background-color: #F7F4EF;
}